
<body>
    <div class="wrapper">
        <div class="logincontainer">
            <h1>Welcome</h1>
            <form class="LoginForm">
                <input type="text" id="username" placeholder="Username">
                <input type="password" id="password" placeholder="Password">
                <button type="submit" id="login-button" class="btn_login">Login</button>
            </form>
        </div>
        <ul class="bg-bubbles">
            <li>
            /<li></li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    






